body{
    background-image: linear-gradient(#22384F, #B9B303);
}
.inicio{
    height: auto;
    padding-bottom:5rem ;
}

/* #bg-color{
    background-color: #37474f ;
} */

#color-letra{
    color: #18464c;
}
.iconow{
    font-size: 30px;
    padding: 1rem;
}
.w{
    color: #B9B303;
}

h1{
    color: #B9B303;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
}
.margin-text{
    margin-top: 10%;
}
h2{
    color: #B9B303;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span{
    color: white;
}

.margen{
    margin-top: 8%;
}

.border{
    width: 230px;
    height: 230px;
    border: 10px solid #B9B303;
    border-radius: 50%;
}
.foto{
    margin: 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.margin-photo{
    margin-top: 20%;
}
.texto{
    padding-left: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textosuperpuesto{
    font-size:3em;
}
.title-card{
    color:#B9B303 !important;
    font-size:1.1rem !important;
    font-weight: 600;
    user-select: none;
}

.textoSuperPuestoDos{
    color:#2C3E50;
    font-size:1.3em;
}

.lista > li{
    color:#2C3E50;
    font-size: 1.1em;
    list-style:none;
}

.sectionThree{
    width: auto;
    height: auto;
    /* background-color: #00e7b6; */
    padding-bottom: 30px;
    margin: 0;
}

.tituloTres{
    color: #2C3E50;
    font-size: 2rem;
}

.botones{
    background-color: #2C3E50;
}
.carousel .carousel-item{
    width: 250px;
    height: 250px;
    user-select: none;
    padding-bottom: 20px;
}

.carousel .indicators .indicator-item{
    margin: -10px 20px;
    width: 12px;
    height: 12px;
    background: #2C3E50;
    border-radius: 0;
    transform: rotate(45deg);
}
footer{
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.title-footer{
    color: #18464c;
}
.iconos{
    width: 40px;
    margin: 4%;
}

.boton-icono{
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}
.boton-icono:hover{
    background-color: #B9B303;
}
.copy{
    color:rgb(255, 255, 255);
    font-size: 0.8rem;
}
.button-top{
    border-radius: 20px;
    width: 180px;
    background-color: white;
}
.button-top>a{
    text-decoration: none;
    color: black;
    font-weight:500;
}

.button-top:hover{
    background-color: #B9B303;
}

