<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/Letter-W-icon_34794.png">
    <title>Wiston-g</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="../../css/style.css">
    
</head>
<body>
    <section>
        <header class="inicio blue-grey darken-3" id="header">
            <div class="container blue-grey darken-3">
                <div class="col s4">
                <nav>                    
                    <div class="nav-wrapper s10 blue-grey darken-3">
                        <a class=" iconow" href="#" >[<span class="w">W</span>]</a>
                        <a href="#" data-target="menu-responsive" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="#quienSoy">¿Quién soy?</a></li>
                            <li><a href="#proyectos">Proyectos</a></li>
                            <li><a href="#contacto">Me puedes encontrar</a></li>
                            <li><a href="img/WISTON JAIR GONZÁLEZ GÓMEZ  (4).pdf" download="CV Wiston" target="_blank">Descargar CV</a></li>
                            <li><a href="#">Español</a></li>
                            <li><a href="../../index.html">Inglés</a></li> 
                        </ul>
                    </div>
                </nav> 

                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#">Español</a></li>
                    <li><a href="../../index.html">Inglés</a></li>  
                </ul> 
                
                <ul class="sidenav" id="menu-responsive">
                    <li><a href="#quienSoy">¿Quién soy?</a></li>
                    <li><a href="#proyectos">Proyectos</a></li>
                    <li><a href="#contacto">Me puedes encontrar</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Idioma<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                </div>  
            </div>

            <div class="container ">
                <div class="row">
                    <div class="col s12 m7 l8 margin-text">
                    <span class="texto">!Hola! mi nombre es:</span>
                    <h1> WISTON  GONZALÉZ</h1>
                    <p class="texto">Construyó:<span id="animacion"></span></p>
                    </div>
                    <div class="col s12 m5 l4">
                        <div class="border margin-photo">
                            <img class="foto center aling" src="../../img/foto.jpg" alt="foto de wiston">
                        </div>
                    </div>
                </div>
            </div>    
        </header>
    </section>

    <section id="quienSoy">  
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <h2 class="col s12 center aling textosuperpuesto ">¿Quién soy?</h2>  
                            <p class= "col s12 center aling textoSuperPuestoDos ">Soy Wiston cuento con 1 año de experiencia como frontend, y 6 meses como backend, me apasiona la tecnología, las herramientas que utilizo son:</p>
                        </div>
                        <div class="card-tabs">
                            <ul class="tabs tabs-fixed-width waves-light">
                                <li class="tab z-depth-5 waves-effect waves-light btn secondary-conten"><a href="#test5" class="active title-card ">PROGRAMACIÓN</a></li>
                                <li class="tab z-depth-5 waves-effect waves-light btn secondary-conten"><a href="#test6" class="title-card">PERSONAL</a></li>
                            </ul>
                        </div>
                        <div class="card-content grey lighten-4">
                          <div id="test5">
                            <ul class="center aling  lista">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JAVASCRIPT</li>
                                <li>BOOSTRAP</li>
                                <li>VUE.JS</li>
                                <li>PHP</li>
                                <li>LARAVEL</li>
                            </ul>
                          </div>
                          <div id="test6">
                            <ul class="center aling  lista">
                                <li>Resolutivo ante conflictos</li>
                                <li>Creatividad</li>
                                <li>Adaptación al cambio</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>          
    </section>

    <section class="sectionThree" id="proyectos">
        <div class="container">
            <div class="row">
                <h2 class="col s12 center aling tituloTres">Mis Proyectos</h2>
                <div class="col s12">
                    <div class="carousel center aling">
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="../../img/pezmath.PNG" alt="juego pezmath">
                                </div>
                                <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">PEZMATH<i class="material-icons right">more_vert</i></span>
                                <p><a href="https://play.google.com/store/apps/details?id=com.wiston.pezmath" target="_blank" class="btn-small  waves-effect waves-dark">Ir a playstore</a></p>
                                </div>
                                <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">PEZMATH<i class="material-icons right">close</i></span>
                                <p>Juego para practicar las operaciones matemáticas básicas para niños.</p>
                                </div>
                            </div>
                        </div> 
    
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="../../img/rancherys.PNG" alt="CARTA O MENU DE RANCHERYS">
                                </div>
                                <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">MENÚ RANCHERYS<i class="material-icons right">more_vert</i></span>
                                <p><a href="https://wiston-g.github.io/CartaRancherys/" target="_blank" class="btn-small  waves-effect waves-dark" >Visitar sitio</a></p>
                                </div>
                                <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">MENÚ RANCHERYS<i class="material-icons right">close</i></span>
                                <p>Carta de productos de restaurante "RANCHERYS" para llegar a más personas.</p>
                                </div>
                            </div>
                        </div> 
    
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="../../img/juego memoria.PNG" alt="JUEGO MEMORIA">
                                </div>
                                <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">JUEGO DE MEMORIA<i class="material-icons right">more_vert</i></span>
                                <p><a href="https://memoria-52b41.web.app/" target="_blank" class="btn-small  waves-effect waves-dark" >Visitar sitio</a></p>
                                </div>
                                <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">JUEGO DE MEMORIA<i class="material-icons right">close</i></span>
                                <p>Juego de memoria de encontrar parejas construido en vue.js.</p>
                                </div>
                            </div>
                        </div> 
    
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="../../img/CRUD.PNG" alt="crud de tareas">
                                </div>
                                <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">CRUD<i class="material-icons right">more_vert</i></span>
                                <p><a href="https://wiston-g.github.io/crud_localstorage" target="_blank" class="btn-small  waves-effect waves-dark">Visitar sitio</a></p>
                                </div>
                                <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">CRUD DE TAREAS<i class="material-icons right">close</i></span>
                                <p>Aplicación para guardar tareas por hacer en el localstorage.</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>          
            </div>    
        </div>    
    </section>

    <footer >
        <div class="container">
            <h2 class="row center aling" id="contacto">Me puedes encontrar</h2>
            <div class="row">
                <div class="col s12 center aling">
                    <a href="https://www.facebook.com/wistonjair.gonzalez.96/" target="_blank" class="iconos"><button class="boton-icono" data-bs-toggle="tooltip" data-bs-placement="top" title="FACEBOOK"><img src="../../img/facebook.svg" alt="icono facebook"></button></a>
                    <a href="https://www.linkedin.com/in/jair-gonzales-12680a191/" target="_blank" class="iconos"><button class="boton-icono" data-bs-toggle="tooltip" data-bs-placement="top" title="LINKENDN"><img src="../../img/linkedin.svg" alt="icono linkendn"></button></a>
                    <a href="https://github.com/Wiston-g" target="_blank" class="iconos"><button class="boton-icono" data-bs-toggle="tooltip" data-bs-placement="top" title="GITHUB"><img src="../../img/github.svg" alt="icono correo"></button></a>
                </div>
            </div>
            <p class="row center aling copy">Copyright © WISTON GONZALEZ</p>
            <div class="row center aling"><button class="button-top"><a  href="#header">Volver a arriba</a></button></div>
        </div>        
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="../../javascript/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HQQP26EBWJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HQQP26EBWJ');
    </script>
</body>
</html>
